<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="0.6"
    android:installLocation="auto"
    package="edu.byui.cit360.calculators">

    <application
        android:allowBackup="false"
        android:description="@string/appDescr"
        android:label="@string/appName"
        android:icon="@mipmap/byui_calc"
        android:roundIcon="@mipmap/byui_calc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Calculators">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
